* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Colors */
    --primary-color: #FF7342;
    --secondary-color: #FFE5A3;
    
    /* Fonts */
    --font-heading: 'Circular Std', sans-serif;
    --font-body: 'DM Sans', sans-serif;
}